
@font-face {
  font-family: 'IRANSansWebFaNum';
  src: url('IRANSansWebFaNum.eot?#iefix') format('embedded-opentype'),  url('IRANSansWebFaNum.woff') format('woff'), url('IRANSansWebFaNum.ttf')  format('truetype'), url('IRANSansWebFaNum.svg#IRANSansWebFaNum') format('svg');
  font-weight: normal;
  font-style: normal;
}
